---
---

<div class="pt-3">
  <div class="w-full flex justify-center">
    <img class="rounded-full h-32 mb-4" src="/personal_foto.jpg" />
  </div>
  <p class="bg-gray-200 p-1 px-2 text-sm rounded text-center">
    <strong>Msc.</strong> Renier Ricardo Figueredo
  </p>
</div>
