---
const functions = [
  "Programador backend con diferentes lenguajes",
  "Diseño y normalización de base de datos.",
  "Diseño de arquitectura basado en diferentes patrones",
  "Maquetación de interfaces",
  "Desarrollo de interfaces con framework javascript, React, Vue, Angular.",
  "Diseño de aplicaciones basados en microservicios",
  "Diseño e implementación de aplicaciones basadas en la nube, AWS",
  "Gestión de requerimientos funcionales y no funcionales.",
  "Diseño e implmentación de CI-CD, usando github actions, pipeline de gitlab, etc."
]
---

<ul>
  {
    functions.map((item) => (
      <li>{item}</li>
    ))
  }
</ul>