---
---

<div
  class="w-full bg-blue-500 pt-2 pb-2 flex md:justify-center text-white sm:h-20 items-center"
>
  <div
    class="sm:w-full md:w-1/2 flex flex-col md:flex-row justify-between pl-5 sm:pl-0"
  >
    <p>Msc. Renier Ricardo Figueredo</p>
    <p>2023</p>
  </div>
</div>
